/* Google Fonts Imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Applied Google fonts in Body */
body{
    font-family: 'Poppins', sans-serif;
}


/* Spninner no visible by Default  */
#spinner{
    display: none;
}

/* Show All Button CSS */
#show-all-button{
    display: none;
    background-color: #EF6C35;
    color: white;
    border-radius: 5px;
}

/* Details Button CSS */
#details-button {
    background-color: #EF6C35;
    color: white;
}

/* SearchBar Button CSS */
#button-addon2{
    background-color: #EF6C35;
}

/* Footer CSS */
footer{
    background-color: #fa824e;
    color: white;
}

/* Phone Details Titile CSS */
#details-title{
    background-color: #EF6C35;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


/* Phone Cards CSS */
.card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


/* Cards Footer CSS */
.card-footer{
    border: none;
    border-radius: 20px;
    margin-bottom: 5px;
}

/* Phone Details Div CSS */
#all-details{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


/* brand name highlighted */
#brand-name{
    background-color: #EF6C35;
    border-radius: 5px;
    padding: 10px;
}

/* title div css */
#details-title{
    position: relative;
}

/* details close button css */
#close-button{
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0 auto;
    width: 70px;
    border: none;
    background-color: whitesmoke;
    color: black;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* details close button css for small devices */
@media screen and (max-width: 786px) {
    #close-button{
        position: relative;
        top:auto;
        right: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}